
<div class="container">
    <div class="row">
        <div class="col" >
          <div> 
            <a [routerLink]="['/actualiza',ind]">
            {{ind+1}}: {{emplist.nombre}} {{emplist.apellido}} {{emplist.cargo}} {{emplist.salario}}
            </a>
            </div> 
          </div>
          
          <ul style="list-style: none;">
            <li *ngFor="let caract of arrayCaract">{{caract}}</li>
        </ul>
        </div>
        <app-caract-empleado-c (caractEmpl)="agregarCarat($event)">   </app-caract-empleado-c>  
    </div>

